<!DOCTYPE html>
<html>
<head>
  <title>SocialBet</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "rails.validations" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render 'layouts/header' %>
 <div id="content">
   <%= yield %>
 </div>
 <%= render 'layouts/footer' %>

</body>
</html>
